body {
	background-color: #eee;
}

.user-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px groove #eee;
}

.user-profile {
    width: 300px;
    height: 300px;
}

.main-profile {
    width: 100px;
    height: 100px;
}

.connections-avatar-list {
	margin-left: 15px;
}

.connections-avatar-list img {
	margin-left: -15px;
}

.connections-avatar-list span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: -15px;
	text-align: center;
}

.accordion-body .col-md-3 {
    padding: 10px;
}

.accordion-body .card {
    overflow: hidden;
}

.accept-ignore-btns {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}